streamlit
ultralytics
opencv-python
pillow
numpy
gTTS
pydub
deep-translator   
langchain
langchain-community
langchain-google-genai
python-dotenv
faiss-cpu
# elevenlabs==0.3.0b0 
onnxruntime
sentence-transformers
inference
supervision